.navbar-brand{
    font-size: 25px; 
    font-family: serif; 
    font-weight: 800;
    padding: 5px;
}
.form-text{
    padding: 5px;
    text-align: center;
    color: dodgerblue; 
    font-family: serif; 
    font-weight: 800;
}
.card{
    margin: 50px; 
    padding: 25px; 
    float: right;
    width: 90%; 
}
.card-body{
    display: flexbox;
}
body{
    background-image: url("https://images.pexels.com/photos/4173624/pexels-photo-4173624.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    margin-bottom: 50px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: dodgerblue; 
}
